Faker==4.1.3
locust==1.2.3
pytest==6.0.1
requests==2.24.0
environs==8.0.0



# pytest -s -v
# locust -f locustfile.py --headless --users 10 --spawn-rate 2 --run-time 1m
# export app_env=staging
# sudo fuser 8089/tcp